AudioPlayer {
    background-image: url(./style/back.jpg);
}

QPushButton {
    background: qlineargradient(x1:0, y1:1, x2:0, y2:0, stop:1 rgb(0,0,0), stop:0.1 rgb(128,128,128));
    color: white;
    border-radius: 25px;
    min-width: 50px;
    min-height: 50px;
    border: 2px solid white;
}

QPushButton:hover {
    background: qlineargradient(x1:0, y1:1, x2:0, y2:0, stop:1 rgb(0,0,0), stop:0.1 rgb(64,64,64));
}

QLabel {
    color: white;
}
